@import "../utils/_mixins.scss";
.gmap-hero {
    background: transparent;
    height: 50vh;
    position: relative;
    width: 100%;
}
.gmap-cta {
    h1 {
        color: $tangerine;
        margin-top: 0;
        text-align: center;
        margin: 0 0 2rem;
    }
    address {
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .acf-map {
        width: 100%;
        max-width: 768px;
        height: 400px;
        border: #ccc solid 1px;
        @media (min-width: $small-screen + 1) {
            margin: 2.500rem auto 0;
        }
        @media (max-width: $small-screen) {
            margin: 2.500rem auto 0;
        }
        /* fixes potential theme css conflict */
        img {
            max-width: inherit !important;
        }
    }
}