//
// Jumbotron
// --------------------------------------------------

$jumbotron-padding: 0;
$jumbotron-color: $rooster_grey_dark;
.hero-alt {
    .caption  {
        h1, h2, p {
            color: #ffffff;
        }
    }
}

.hero {
    &.static {
        position: relative;
        padding-top:    $jumbotron-padding;
        padding-bottom: $jumbotron-padding;
        margin-bottom: $jumbotron-padding;
        color: $jumbotron-color;
        background-color: transparent;
        text-align: center;
        img {
            margin: 0px auto;
        }

    }
}
.hero {
    &.static {
        &.front-page {
            h1,.h1 {
                color: $midnight;
                margin: 0;
                @media (min-width: $medium-screen + 0.05) {
                    font-size: ($base-font-size * 5);
                }
                @media (max-width: $medium-screen) {
                    font-size: ($base-font-size * 4);
                }
                @media (max-width: $small-screen-ip5) {
                    font-size: 2.5em;
                }
                font-family: $heading-font-family;
                font-weight: 500;
            }

            h2,.h2 {
                color: $tangerine;
                margin: 0 0 5px;
                @media (min-width: $medium-screen + 0.05) {
                    font-size: ($base-font-size * 5);
                }
                @media (max-width: $medium-screen) {
                    font-size: ($base-font-size * 4);
                }
                @media (max-width: $small-screen-ip5) {
                    font-size: 2.25em;
                    margin-bottom: 1rem;
                }
                font-family: $heading-font-family;
                font-weight: 500;
            }

            p {
                @media (min-width: $medium-screen + 0.05) {
                    font-size: ($base-font-size * 2);
                }
                @media (max-width: $medium-screen) {
                    font-size: ($base-font-size * 1.50);
                }
                @media (max-width: $small-screen-ip5) {
                    line-height: ($base-line-height/1.65);
                    font-size: ($base-font-size * 1.25);

                }
                font-family: $base-font-family;
                font-weight: 300;
                margin-bottom: 30px;
                color: $midnight;
                margin: 0;
            }
            .caption {
                position: absolute;
                z-index: 999;
                @media (min-width: ($xs-small-screen + 0.05)) {
                    left: 0;
                    width: 100%;
                    top: 20%;
                    transform: translate(0,-20%);
                }
                @media (max-width: $xs-small-screen) {
                    left: 50%;
                    width: 100%;
                    top: 35%;
                    transform: translate(-50%,-35%);
                    max-width: $xs-small-screen;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
            }
        }
        &.secondary-page {
            h1,.h1 {
                color: #fff;
                font-size: 3.750em;
                @media (max-width: $small-screen-phablet) {
                    font-size: 2.750em;
                }
                @media (max-width: $small-screen-phablet) {
                    font-size: 2.5em;
                }
            }
            h2,.h2, p {
                display: none;
            }
            .caption {
                position: absolute;
                z-index: 999;
                @media (min-width: ($medium-small-screen + 0.05)) {
                    left: 0;
                    width: 100%;
                    top: 50%;
                    transform: translate(0,-50%);
                }
                 @media (max-width: $medium-small-screen) {
                    left: 50%;
                    width: 100%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    max-width: 560px;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
                @media (max-width: $small-screen-ip5) {
                    left: 50%;
                    width: 100%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    max-width: $xs-small-screen;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
            }
        }
    }
}