/***************************************
* Job and Careers Postings
***************************************/
.job-list-container {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    @media (max-width: ($medium-screen + 1)) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: $small-screen) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.job-list {
    border: 1px solid $rooster_grey;
}
.job-header {
    background-color: $rooster_grey;
    overflow: auto;
    @media (min-width: ($medium-screen + 1)) {
        padding: 10px 30px;
    }
    @media (max-width: $small-screen) {
        padding: 10px 15px 3px;
    }
    .th-1 {
        color: #fff;
        float: left;
        width: 70%;
        span {
            font-family: $heading-font-family;
            font-weight: 400;
        }
    }
    .th-2 {
        color: #fff;
        clear: right;
        float: left;
        width: 30%;
        span {
            font-family: $heading-font-family;
            font-weight: 400;
        }
    }
}
.job-postings {
    .job-post {
        overflow: auto;
        &:first-child {
            padding-top: 20px;
        }
        @media (min-width: ($medium-screen + 1)) {
            padding: 10px 30px 3px;
        }
        @media (max-width: $medium-screen) {
            padding: 10px 15px 3px;
        }
        .link {
            color: $body-font-color;
            float: left;
            width: 70%;
            font-family: $heading-font-family;
            font-weight: 400;
        }
        .local {
            clear: right;
            float: left;
            width: 30%;
            color: $body-font-color;
            font-family: $heading-font-family;
            font-weight: 400;
        }
        .description {
            float: left;
            width: 100%;
            > p {
                color: $body-font-color;
                padding-top: 15px;
            }
        }
    }
    .even {
        background-color: $row-color-even;
    }
}