//
// Jumbotron
// --------------------------------------------------

$jumbotron-padding: 0;
$jumbotron-color: $rooster_grey_dark;
.hero-alt {
    .caption  {
        h1, h2, p {
            color: #ffffff;
        }
    }
}

.jumbotron {
    position: relative;
    padding-top:    $jumbotron-padding;
    padding-bottom: $jumbotron-padding;
    margin-bottom: $jumbotron-padding;
    color: $jumbotron-color;
    background-color: transparent;
    text-align: center;

    h1,
    .h1 {
        color: $midnight;
        margin: 0;
        @media (min-width: $medium-screen + 1) {
            font-size: ($base-font-size * 5);
        }
        @media (min-width: $xs-small-screen + 1) and  (max-width: 980px) {
            font-size: ($base-font-size * 4);
        }
        @media (max-width: $xs-small-screen) {
            font-size: ($base-font-size * 2.5);
        }
        font-family: $heading-font-family;
        font-weight: 500;
    }

    h2,
    .h2 {
        color: $tangerine;
        margin: 0 0 2.500rem;
        @media (min-width: $medium-screen + 1) {
            font-size: ($base-font-size * 5);
        }
        @media (min-width: $xs-small-screen + 1) and  (max-width: $medium-screen) {
            font-size: ($base-font-size * 4);
        }
        @media (max-width: $xs-small-screen) {
            font-size: ($base-font-size * 2.5);
        }
        font-family: $heading-font-family;
        font-weight: 500;
    }

    p {
        @media (min-width: $medium-screen + 1) {
            font-size: ($base-font-size * 2);
        }
        @media (min-width: $xs-small-screen + 1) and  (max-width: $medium-screen) {
            font-size: ($base-font-size * 1.50);
        }
        @media (max-width: $xs-small-screen) {
            line-height: ($base-line-height/1.65);
            font-size: ($base-font-size * 1.25);

        }
        font-family: $base-font-family;
        font-weight: 300;
        margin-bottom: 30px;
        color: $midnight;
        margin: 0;
    }
    .caption {
        position: absolute;
        z-index: 999;
        @media (min-width: ($small-screen + 1)) {
            left: 0;
            //max-width: 780px;
            width: 100%;
            top: 50%;
            transform: translate(0,-50%);
        }
        @media (max-width: $small-screen) {
            left: 50%;
            width: 100%;
            top: 50%;
            transform: translate(-50%,-50%);
            max-width: $xs-small-screen;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }
}
