header.navigation {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $large-screen: 53.75em !default;
    $navigation-padding: 1em;
    $navigation-background: $white;
    $navigation-color: $concrete;
    $navigation-color-hover: $asphalt;
    $navigation-height: 80px;
    $navigation-text-transform: uppercase;
    $navigation-nav-button-background: $action-color;
    $navigation-nav-button-background-hover: lighten($navigation-background, $global-lite-hover-color);
    $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, $global-lite-hover-color);
    $navigation-search-background: lighten($navigation-background, 5);
    $navigation-search-border: 1px solid darken($navigation-background, 5);
    $navigation-active-link-color: transparentize(white, 0.5);
    $navigation-submenu-padding: 1em;
    $navigation-submenu-width: 12em;
    $horizontal-bar-mode: $medium-small-screen;

    border-bottom: 1px solid $aluminium;
    background-color: $navigation-background;
    min-height: $navigation-height;
    width: 100%;
    position: fixed;
    z-index: 9999;

    .navigation-wrapper {
        @include clearfix;
        position: relative;
        z-index: 9999;
        max-width: $inner-max-width-xl;
        margin: 0px auto;
        padding: 0 2em;
        @media (max-width: $large-screen) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    @media (max-width: $xxs-small-screen) {
        .rooster-logo {
            max-width: 100%;
            width: 80%;
            height: auto;
        }
    }
    .logo {
        float: left;
        max-height: 80px;
        padding-top: 0.85rem;
        line-height: 80px;
        @include media ($horizontal-bar-mode) {
            padding-left: $navigation-padding;
            padding-right: 0;

        }

        img {
            max-height: $navigation-height;
            padding: 0.8em 0;
        }
    }

    // Mobile view

    .navigation-menu-button {
        color: $navigation-color;
        display: block;
        float: right;
        height: 40px;
        line-height: 40px;
        padding: 5px;
        width: 40px;
        margin-top: 22px;
        @include media ($horizontal-bar-mode) {
            padding-right: 1em;
        }
        text-decoration: none;
        text-transform: $navigation-text-transform;

        @include media ($horizontal-bar-mode) {
            display: none;
        }

        span:nth-child(3n) {
            margin-bottom: 0;
        }

        &:focus,
            &:hover {
            color: $navigation-color-hover;
        }
        &.active {
            position: relative;
            span {
                background-color: #b2b2b2;
                -wekbit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                transition: all 0.2s;
                transform-origin: center center;
            }
        }
        &.active span:first-child {
            transform-origin: center center;
            transform: rotate(45deg) translate(10px, 10px);
            top: 0;
            position: absolute;
            left: 0;
            width: 100%;
        }
        &.active span:nth-child(2n) {
            display: none;
        }
        &.active span:nth-child(3n) {
            transform-origin: center center;
            transform: rotate(-45deg) translate(-10px, 10px);
            top: 0;
            position: absolute;
            left: 0;
            width: 100%;
        }
    }

    // Nav menu

    nav {
        @media (max-width: $medium-small-screen) {
            /*            clear: both;*/
            margin: 0 -1.5em;
        }

        @include media ($horizontal-bar-mode) {
            float: right;
            min-height: $navigation-height;
            z-index: 9999999;
        }
    }

    ul.navigation-menu {
        @include media ($horizontal-bar-mode) {
            //border-top: 4px solid $rooster-orange;
        }
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;

        &.show {
            display: block;;
        }

        @include media ($horizontal-bar-mode) {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    ul li.menu-item.current_page_item > a {
        font-weight: 500;
        @include media ($horizontal-bar-mode) {
            color: $midnight;
        }
    }

    // The nav items

    ul li.nav-link, ul li.menu-item {
        background: $asphalt;
        display: block;
        line-height: $navigation-height/1.5;
        overflow: hidden;
        @media (max-width: $large-screen) {
            padding-left: 1.5em;
        }
        text-align: left;
        width: 100%;
        z-index: 9999;
        border-bottom: 1px solid $concrete;
        @include media ($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $navigation-height;
            text-decoration: none;
            width: auto;
            border-bottom: none;
            @media(min-width: 1025px) {
                padding-left: 1em;
                padding-right: 1em;
            }
            @media(min-width: 980px) and (max-width: 1024px) {
                padding-left: 0.5em;
                padding-right: 0.5em;
            }

        }
        &:last-child {
            border: none;
        }
        a {
            color: $white;
            text-transform: $navigation-text-transform;
            letter-spacing: 0.1em;
            @include media ($horizontal-bar-mode) {
                color: #a3a3a3;
            }
            display: inline-block;
            text-decoration: none;
            @include media ($horizontal-bar-mode) {
                //padding-right: 1em;
            }
            &:focus,
                &:hover {
                color: $concrete;
                @include media ($horizontal-bar-mode) {
                    color: $navigation-color-hover;
                }
            }
        }
    }

    .active-nav-item a {
        border-bottom: 1px solid $navigation-active-link-color;
        padding-bottom: 3px;
    }

    // Sub menus

    li.more.nav-link {
        padding-right: 0;

        @include media($horizontal-bar-mode) {
            padding-right: $navigation-submenu-padding;
        }

        > ul > li:first-child a  {
            padding-top: 1em;
        }

        a {
            margin-right: $navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a::after {
            @include position(absolute, auto -0.4em auto auto);
            color: $navigation-color;
            content: "\25BE";
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: 0.8em;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($horizontal-bar-mode) {
                margin-right: $navigation-submenu-padding;
            }

            &::after {
                content: "›";
                font-size: 1.2em;
                position: absolute;
                right: $navigation-submenu-padding / 2;
            }
        }

        &:focus > .submenu,
            &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: 0.8em;
            position: relative;
        }
    }

    ul.submenu {
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu.fly-out-right {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        .submenu.fly-out-left {
            @include media($horizontal-bar-mode) {
                left: -$navigation-submenu-width + 0.2em;
                top: 0;
            }
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: 0.7em;
                }
            }

            a {
                background-color: darken($navigation-background, 3%);
                display: inline-block;
                text-align: right;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    background-color: $navigation-background;
                    padding-left: $navigation-submenu-padding;
                    text-align: left;
                    width: $navigation-submenu-width;
                }
            }
        }
    }

    // Elements on the far right

    .navigation-tools {
        background: #505050;
        clear: both;
        display: block;
        height: $navigation-height;

        @include media($horizontal-bar-mode) {
            background: transparent;
            clear: none;
            float: right;
        }
    }

    // Search bar

    .search-bar {
        $search-bar-border-color: $base-border-color;
        $search-bar-border: 1px solid $search-bar-border-color;
        $search-bar-background: lighten($search-bar-border-color, $global-lite-hover-color);

        float: left;
        padding: 0.85em 0.85em 0.7em 0.6em;
        width: 60%;

        form {
            position: relative;

            input[type=search] {
                background: $navigation-search-background;
                border: $navigation-search-border;
                border-radius: $base-border-radius * 2;
                box-sizing: border-box;
                color: $navigation-color;
                font-size: 0.9em;
                font-style: italic;
                margin: 0;
                padding: 0.5em 0.8em;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    width: 100%;
                }
            }

            button[type=submit] {
                background: $navigation-search-background;
                border: 0;
                bottom: 0.3em;
                left: auto;
                outline: none;
                padding: 0 9px;
                position: absolute;
                right: 0.3em;
                top: 0.3em;

                img {
                    height: 12px;
                    opacity: 0.7;
                    padding: 1px;
                }
            }
        }

        @include media($horizontal-bar-mode) {
            display: inline-block;
            position: relative;
            width: 16em;

            input {
                box-sizing: border-box;
                display: block;
            }
        }
    }
}

.hamburger-bar {
    background-color: $asphalt;
    color: $asphalt;
    border-radius: 1px;
    display: block;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 3px;
}