.search {
    .paging-navigation {
        clear: both;
        display: block;
        overflow: auto;
        width: 100%;
        margin-top: 2em;
    }
}

.search-results {
    .sidebar {
        margin-top: 6em;
    }
    .hentry {
        margin-bottom: 4em;
    }
}