.statistical-numbers {
    h2 {
        margin: 0 auto 3.750rem;
        font-weight: 400;
        font-family: $heading-font-family;
        font-size: 45px;
    }
    h2, p {
        color: $white !important;
        text-align: center !important;
    }
    .rooster-facts {
        @media (max-width: $small-screen) {
            margin-top: 1em;
        }
        .fact {
            text-align: center;
            position: relative;

            &:after {
                color: $white;
                @media (min-width: $medium-screen) {
                    content: "\f105";
                    position: absolute;
                    right: -35px;
                    top: -38px;
                }
                @media (min-width: $xs-small-screen + 0.05 ) and (max-width: $medium-screen) {
                    content: "\f105";
                    position: absolute;
                    top: 0px;
                    right: -25px;
                    font-size: 4em;
                }
                @media (max-width: $small-screen) {
                    display: none;
                }
                font-size: 100px;
                font-family: FontAwesome;
                @media (max-width: $xs-small-screen) {
                    content: "\f107";
                    line-height: 1;
                    font-size: 3em;
                }

            }
            &:last-child {
                &:after {
                    content: "";
                    display: none;
                }
            }
        }
        .factor {
            color: $white;
            font-weight: 700;
            font-size: 6.250em;
            font-family: $heading-font-family;
            line-height: 1.25;
            @media (max-width: $small-screen) {
                font-size: 3em;
                line-height: 1.5;
            }
        }
        .factor-title {
            color: $white;
            font-size: 1.375em;
            @media (max-width: $small-screen) {
                font-size: 1em;
            }
            font-weight: 300;
            font-family: $heading-font-family;
            line-height: 1.50;
            margin: 0px auto;
            max-width: 125px;
            width: 100%;
        }
    }
}
