.three-col-section {
    .inner-col-full {
        @include outer-container($inner-max-width-lrg);
        overflow: auto;
        @media (max-width: $large-screen) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    h1.section-header {
        text-align: center;
        margin: 0 auto 60px;
        color: $tangerine;
        font-weight: 400;
        font-family: $heading-font-family;
        font-size: $section-h1-title;
    }
    .entry-header {
        margin-bottom: 32px;
        h1 {
            font-family: $heading-font-family;
            font-size: $section-h1-title;
            font-weight: 400;
            color: $body-font-color;
            margin-top: 0;
        }
        h2 {
            color: $body-font-color;
            font-size: em(18px);
            font-weight: 300;
            margin: 0;
        }
    }
    .entry-article {
        text-align: center;
        @media (max-width: $large-screen) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .img-circle {
        margin-bottom: 30px;
    }
    .content {
        width: 100%;
        @media (min-width: $medium-screen+ 0.05) {
            max-height: 315px;
            min-height: 315px;
            margin-bottom: 3em;
        }
    }
    p {
        color: $body-font-color;
        max-width: 30em;
        margin: 0 auto;
    }
    .entry-footer {
        margin-top: 40px;
    }
}

