.two-col-section {
    .inner-col-full {
        @media (min-width: $large-screen +0.05) {
            @include outer-container($inner-max-width-med);
        }
        @media (max-width: $large-screen) {
            @include outer-container(100%);
            padding-left: 1rem;
            padding-right: 1rem;
        }   
    }
    .entry-header {
        margin-bottom: 2rem;
        h1 {
            font-family: $heading-font-family;
            font-weight: 400;
            font-size: 2.000rem;
            margin: 0;
        }
        h2 {
            font-weight: 300;
        }
        a img {
            margin-bottom: 1.25rem;
        }
    }
    .img-circle {
        margin-bottom: 2rem;
    }
    p {
        margin: 0 auto;
        @media (min-width: ($small-screen + 1)) {
            max-width: 380px; 
        }
    }
    .content {
        margin-bottom: 3.750em;
    }
    .entry-footer {
        margin-top: 40px;
    }
}

.white {
    .section-header {
        color: $tangerine;
    }
    .entry-title {
        color: $body-font-color;
    }
}

.midnight {
    .section-header {
        color: $white;
    }
    .section-subheader, .entry-title {
        color: $white;
    }
    p {
        color: $white;
    }
}