@mixin top-bot-padding($tb-pad) {
    padding: $tb-pad 0 $tb-pad 0;
}

@mixin text_link_hover($txt-link-color, $txt-link-w, $txt-fnt-fam) {
    color: $txt-link-color;
    font-weight: $txt-link-w;
    font-family: $txt-fnt-fam;
    &:hover {
        color: lighten($txt-link-color, 25%);
    }  
}     

@mixin transformXandY($trans-max-width, $trans-width, $trans-top, $trans-left, $trans-x, $trans-y) {
    max-width: $trans-max-width;
    width: $trans-width;
    top: $trans-top;
    left: $trans-left;
    transform: translate($trans-x, $trans-y);
}