fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-color: $secondary-background-color;
}

#{$all-text-inputs},
select[multiple] {
    background-color: $secondary-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
        border-color: shade($base-border-color, 20%);
    }

    &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }

    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }
    }
}

textarea {
    resize: vertical;
}

[type="search"] {
    appearance: none;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

select {
    margin-bottom: $small-spacing;
    max-width: 100%;
    width: auto;
}

.form-group {
    margin-bottom: 1em;
    overflow: auto;
}

::-webkit-input-placeholder {
    color: $concrete;
    font-weight: 400;
    font-family: $heading-font-family;
}
:-moz-placeholder { /* Firefox 18- */
    color: $concrete;
    font-weight: 400;
    font-family: $heading-font-family;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $concrete;
    font-weight: 400;
    font-family: $heading-font-family;
}

:-ms-input-placeholder {  
    color: $concrete;
    font-weight: 400;  
    font-family: $heading-font-family;
}

/**** WP Plugin wpcf7-form-control g-recaptcha ***/
.entry-content {
    .wpcf7 {
        margin: 3.75em auto;
        max-width: 480px;
        width: 100%;
    }
}

.wpcf7-form-control {
    &.wpcf7-submit {
        display: block;
        margin: 0 auto;
    }
    .wpcf7-not-valid-tip {
        color: #f00;
        display: block;
        font-size: 0.75em;
    }

    &.wpcf7-not-valid {
        margin: 0;
    }
}

.wpcf7-form {
    p {
        margin-bottom: 0
    }
    .wpcf7-form-control-wrap {
        margin-bottom: 1.250em;
        display: block;
    }
    div.wpcf7-response-output {
        margin: 0;
    }
}

div#rpRecaptcha {
    margin-bottom: 1em;
    > div {
        margin: 0px auto;
        width: 100%;
    }
}

/**** wpcf7-form-control ***/
