body {
    color: $body-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
}

h1 {
    font-family: $heading-font-family;
    font-size: modular-scale(3);
    font-weight: 400;
    line-height: $heading-line-height;
    margin:  0.1212em 0 0.2727em;
}

h2 {
    font-family: $heading-font-family;
    font-size: 1.375em;
    font-weight: 400;
    line-height: $heading-line-height;
    margin: 0.037em 0 0.3333em;
}

h3 {
    font-family: $heading-font-family;
    font-size: 1.250em;
    font-weight: 400;
    line-height: $heading-line-height;
    margin:0 0 0.4285em;
}

h4 {
    font-family: $heading-font-family;
    font-size: modular-scale(0);
    font-weight: 400;
    line-height: $heading-line-height;
    margin:1em 0 0.6667em; ;
}

h5 {
    font-family: $heading-font-family;
    font-size: modular-scale(-1);
    font-weight: 400;
    line-height: $heading-line-height;
    margin:0 0 0.5625em;
}

h6 {
    font-family: $heading-font-family;
    font-size: modular-scale(-2);
    font-weight: 400;
    line-height: $heading-line-height;
    margin:0 0 0.6428em; ;
}


address {
    font-family: $heading-font-family;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    font-style: normal;
}
p {
    margin: 0 0 $small-spacing;
}

a {
    color: $ocean;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
        &:focus,
        &:hover {
        color: $sky;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}


// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

h1.section-header {
    text-align: center;
    margin: 0 auto 1.875rem;
    font-weight: 400;
    font-family: $heading-font-family;
    font-size: $section-h1-title;
}
h2.section-subheader {
    font-weight: 100;
    max-width: 860px;
    margin: 0px auto 3.750rem;
    line-height: 1.35;
}